<!-- <app-root></app-root> -->
<myform></myform>
<hr>
<div class="container pt-4">
    <h3>The following practice is under property Binding.</h3>
</div>
<app-binding></app-binding>
<hr>
<div class="container pt-4">
    <h3>Following is an Event Binding practice</h3>
    <app-event-binding></app-event-binding>
</div>
<hr>
<div class="container pt-4">
    <h3>Following is an interpolation practice</h3>
    <p>display the individuals detail</p>
    <app-interpolate></app-interpolate>
</div>
<hr>
<div class="container pt-4">
    <h3>This is a two way data binding</h3>
    <p>show the data being inserted</p>
    <app-two-way-binding></app-two-way-binding>
</div>
<hr>
<div class="container pt-4">
    <h3>This is structural directive, using ngFor, ngmodel...</h3>
    <app-structural-directive></app-structural-directive>
</div>
<hr>
